<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Created by Angel Guerrero</span>
        <div class="social">
            <div class="subText">
                Follow me on:
            </div>
            <div class="subSocial">
                <div class="socialContent">
                    <a href="https://github.com/AngelJGR" target="_blank"><i class="fa fa-github"></i></a>
                    <span>Github</span>
                </div>
                <div class="socialContent">
                    <a href="https://www.linkedin.com/in/angeljgr/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <span>LinkedIn</span>
                </div>
                <div class="socialContent">
                    <a href="https://www.facebook.com/AngelJGR" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <span>Facebook</span>
                </div>
                <div class="socialContent">
                    <a href="https://twitter.com/AngelJGR" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <span>Twitter</span>
                </div>
                <div class="socialContent">
                    <a href="https://www.instagram.com/angeljgr1/?hl=es-la" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <span>Instagram</span>
                </div>
            </div>
        </div>
        <div class="api">
            <div class="year">2020 &copy;</div>
            <div class="apiLogo">
                <span>Data API By </span>
                <a href="https://covid19api.com/" target="_blank">
                    <img src="./../../../assets/img/logo-white-sm.png" alt="" width="120px">
                </a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>