<div class="content">
    <span class="title">Estadísticas</span>
    <div class="chart-content">
        
        <mat-card class="chart">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="chartContainer"></div>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="chart">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="chartContainer2"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>